@charset "utf-8";

body
{
    margin: 0px;
    padding: 0px;
    background-color:#feeefe;
    font-family: Garamond, "sans-serif";
    font-size: 17px;
    text-align: center;
}

h1
{
    font-size: 35px;
    font-family: Garamond, "sans-serif";
    text-align: center;
    box-shadow: 3px 3px 2px #d379f8;
}

h2
{
    font-size: 25px;
    font-family: Garamond, "sans-serif";
    text-align: center;
}

h3
{
    font-size: 20px;
    font-family: Garamond, "sans-serif";
    text-align: center;
}
img
{
    border: double 10px #d379f8;
}

#page
{
    max-width:800px;
    margin:20px auto;
    padding:30px;
    background-color:#fff5ff;
}

#right-column
{
    float:right;
    width:350px;
    text-align:left;
}

#left-column
{
    float:left;
    width:350px;
    text-align:right;
}

.list
{
    background-color:#fcecfb;
}

.contents
{
    float:left;
    text-align:left;
    width:400px;
    padding:20px;
    background-color:#fdd6f9;
    border: 2px #d379f8;
    border-style: dotted;
}

.one-value
{
    background-color:#ffe6ff;
    border-radius: .75rem;
    margin-bottom: 1rem;
    padding: 1rem;
}